<div class="footer-top">
  <%= link_to 'https://www.authentiq.com', :target => '_blank' do %>
      <%= image_tag('/images/authentiq-logo.png', :alt => 'authentiq', :class => 'logo') %>
  <% end %>
</div>
<span class="footer"> Ruby on rails demo with Devise for user management, Omniauth and Authentiq as an authentication service</span>